* {
  margin:0;
  padding:0;
}
body {
  font-family:sans-serif;
}
/* .zoom
{
    zoom: 200%;
} */


#nav-bar{
  width:100%;
  position:sticky;
  top:0;
  z-index:10;
}
.navbar{
  background-image:linear-gradient(to right, #f097b2, #d11d53);
  padding:0!important;
}
.navbar-brand img{
  height:2.5em;
  width:2.5em;
  padding-left:1%;
}
.navbar-nav li{
  padding:0 2%;
}
.navbar-nav li a{
  color:#fff !important;
  font-weight:600;
  float:right;
  text-align:left;
}
.navbar-toggler-icon{
  color:#fff;
  font-size: 20px !important;
}
.navbar-toggler{
  outline: none !important;
}

/* banner */

#banner{
  width:100%;
  background-image:linear-gradient(to right, #f097b2, #d11d53);
  color:#fff;
  padding-top:3%;
}
.PREtitle{
  font-size:2.5em;
  font-weight: 600;
  margin-top: 2%;
}
.bottom-img{
  width:100%;
  height:80px;
}

/* where */
#where{
  width:100%;
  padding:5% 0;
}
#where p{
  font-weight:300;
}
#where .map{
  width:100%;
}
.pinKey{
  padding-top:10px;
}
.pin-icon{
  height:20px;
}

/* make an apt */
#make{
  width:100%;
  background-color: #fadadd;
  padding-bottom:50px;
  padding-top:50px;
}
#make p{
  font-weight:300;
}
#make a{
  color:#d11d53;
}
.makeImg{
  width:80%;
  height:180px;
  margin-top:20px;
}
.makeApt{
  padding:1em;
}
.makeApt h4{
  padding:0.1em;
  margin-top:25px;
  text-transform: uppercase;
}
.subtitle::before{
  content: '';
  background: #f097b2;
  height:5px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  transform: translateY(2em);
}
.subtitle::after{
  content: '';
  background: #f097b2;
  height:10px;
  width:30%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:40px;
  display:block;
  transform: translateY(.5em);
}
#payment .btn-SOB{
  box-shadow:none;
  padding: 8px 25px;
  border:none;
  border-radius: 20px;
  background-image:linear-gradient(to right, #f097b2, #d11d53);
  color:white;
}

/* payment */
#payment{
  width:100%;
  padding-bottom:50px;
  padding-top:50px;
}
#payment p{
  font-weight:300;
}
#payment .subtext{
  font-size:20px;
}
.receiptGif{
  width: 80%;
  margin-bottom:10px;
}
/* #payment #emailEx{
   border-left: 4px solid #d11d53;
   padding-bottom:10px;
   padding-top:10px;
   padding-left:20px;
} */
#payment .subsubtitle{
  font-size:1.25em;
  font-weight:600;
  margin-top:5%;
}
#payment .SOBtext{
  padding-top:20px;
  padding-bottom:20px;
  background-color: #e8f4f8;
}

/* more info */
#moreinfo{
  width:100%;
  background-color:#fadadd;
  padding-bottom:50px;
  padding-top:50px;
}
#moreinfo .question-title{
  font-size:1.25em;
  font-weight:600;
  margin-top:5%;
}
.img-fluid{
  height:300px;
}
#moreinfo ul li{
  margin:3% 0;
  font-weight:300;
}
#moreinfo ul{
  margin-left:7%;
}

/* download app */
#app{
  width:100%;
  padding-bottom:20px;
  padding-top:50px;
}
#app .btn-APP{
  box-shadow:none;
  padding: 8px 25px;
  border:none;
  border-radius: 20px;
  background-image:linear-gradient(to right, #f097b2, #d11d53);
  color:white;
}
#app .btn-collect{
  box-shadow:none;
  padding: 8px 25px;
  border:none;
  border-radius: 20px;
  background-image:linear-gradient(to right, #CBC3E3, #9370DB);
  color:white;
}
#app .collection:before {
  content: '';
  background: #f097b2;
  height:5px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  transform: translateY(1.8em);
}

/* footer */
#footer{
  width:100%;
  background-image:linear-gradient(to right, #f097b2, #d11d53);
  color: #fff;
}
.footerIMG{
    width:100%;
    height:80px;
}
.idtag{
  text-align: right;
  padding:3%;
}
